numpy>=1.22
pandas>=1.5
scipy>=1.10
scikit-learn>=1.1
matplotlib>=3.5
seaborn>=0.11
joblib>=1.1

xgboost>=1.7
shap>=0.42

kaggle>=1.5      # opcjonalnie, jeśli pobierasz dane z Kaggle
pytest>=7.0      # opcjonalne testy